body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-size: 55px;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

